<p>question-add works!</p>
{{response}}
<form [formGroup]="question">
  <small class="text-danger" style="color: red;" *ngIf=""></small>
  Title : <input type="text" formControlName="title" >
  Category :
  <select formControlName="categoryId">
    <option *ngFor="let category of categories"   value="{{category.id}}" >
      {{category.type}}
    </option>
  </select>
  Description : <input type="text" formControlName="description">&nbsp; &nbsp;
  <input type="submit" class="btn btn-success " name="Submit" (click)="onSubmit()"> 
</form>
