<p>ADD CATEGORY</p>
<form (ngSubmit)="onSubmit()">
<!--  <small style="color: red">{{categoryExist}} {{categoryAdded}} </small><br>-->

  Category : <input type="text" name="category" [(ngModel)]="answer.description">&nbsp;&nbsp;
  <button type="Submit" class="btn btn-primary">ADD</button>
</form>
<br><br>
<small style="color: red">{{categoryDeleted}}</small><br>
<table class="table table-striped" >
  <tbody *ngFor="let category of categories; index as i">

  <tr>
    <td>{{i+1}}</td>
    <td>{{category.type}}</td>
    <td><button (click)="updateCategory(category.id)" type="button" class="btn btn-primary">Update</button></td>
    <td><button (click)="deleteCategory(category.id)" type="button" class="btn btn-primary">Delete</button></td>
  </tr>
  <tr id="{{category.id}}" style="display: none" >
    <td colspan="5">
      <form (ngSubmit)="onUpdateSubmit(category.id)">
        Type : <input type="text" name="title" [(ngModel)]="updatedCategory.type" value="{{category.type}}">&nbsp;
        <input type="submit" class="btn btn-success " name="Submit">
      </form>
    </td>
  </tr>

</table>

