<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
</head>
<body>
<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="userSignupInfo">
          <small class="test-danger" style="color: red" *ngIf="email.invalid && email.touched">* Email is Required</small>
          <small style="color: red">{{emailError}}</small>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" required [class.is-invalid]= "email.invalid && email.touched" formControlName="email" class="form-control" placeholder="Enter email"><br>
          </div>
          <div *ngIf="password.invalid || password.touched">
            <small class="test-danger" style="color: red" *ngIf="password.errors?.minlength">* Password must be at least 4 character</small>
            <small class="test-danger" style="color: red" *ngIf="password.errors?.required && password.touched">* Password is required</small>
          </div>
          <small style="color: red">{{passwordError}}</small>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" formControlName="password" [class.is-invalid]= "password.invalid && password.touched"  class="form-control" placeholder="Enter password">
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" formControlName="password" [class.is-invalid]= "password.invalid && password.touched"  class="form-control" placeholder="Enter password">
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox">Remember Me
          </div>
          <div class="form-group">
            <input type="submit" [disabled]="userSignupInfo.invalid" value="Login" class="btn float-right login_btn" (click)="onSubmit()">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>