<p>all-question works!</p>
<table class="table table-striped">
  <tbody *ngFor="let question of allQuestions; index as i">

  <tr>
    <td>{{i+1}}</td>
    <td>{{question.title}}</td>
    <td><button (click)="questionDescription(question.id)" type="button" class="btn btn-primary">Description</button></td>
    <td>{{question.category.type}}</td>
    <td><button (click)="onAnswer(question.id)" type="button" class="btn btn-primary">Answer</button></td>
    <td><button (click)="deleteQuestion(question.id)" type="button" class="btn btn-primary">Delete</button></td>
  </tr>
  <tr id="des{{question.id}}" style="display: none">
    <td colspan="5">{{question.description}}</td>
  </tr>

  <tr id="ans{{question.id}}" style="display: none">
    {{answerNotFound}}
    <td colspan="5">{{question.description}}</td>
  </tr>

  </tbody>
</table>
