<!--DemoAppffsgfg-->
<!--{{title}} {{message}}-->
<!--<app-test (childEvent)="message = $event" [parentData] = "name"></app-test>-->
<!--<app-login-form></app-login-form>-->
<!--<app-user></app-user>-->
<!--<app-test></app-test>-->
<router-outlet></router-outlet>

