<!--<p [class]="successClass">test works {{name}}!</p>-->
<!--{{name.length}}-->

<!--<h2 [class.test-danger]="hasError">condition apply to class</h2>-->

<!--<h2 [ngClass]="multipleClasses">condition apply to multiple classes</h2>-->

<!--{{getUser()}}<br>-->

<!--<label>Name</label>-->
<!--<input #myInput [id]="myId"  [disabled]="false"  type="text">-->

<!--<button (click)="logMessage(myInput.value)">Template Reference Check</button>-->

<!--<button (click)="onClick($event)">Event Binding</button>-->
<!--{{eventBinding}}-->

<!--<input [(ngModel)]="twoWayDataBinding" type="text">-->
<!--{{twoWayDataBinding}}-->

<!--<div *ngIf="hasError; then ifBlock; else elseBlock "></div>-->
<!--<ng-template #ifBlock>-->
<!--  If success block-->
<!--</ng-template>-->
<!--<ng-template #elseBlock>-->
<!--  If fail block-->
<!--</ng-template>-->

<!--<div [ngSwitch]="color">-->
<!--  <div *ngSwitchCase="'red'" > Switch case Red</div>-->
<!--  <div *ngSwitchCase="'blue'" > Switch case Blue</div>-->
<!--  <div *ngSwitchCase="'green'" > Switch case green</div>-->
<!--</div>-->

<!--<div *ngFor="let color of colors; index as i">-->
<!--  {{i}} {{color}}-->
<!--</div>-->
<div (click)="onSelect(user)" *ngFor="let user of users; index as i">
 <a style="cursor: pointer">{{i+1}} {{user.name}}</a>
</div>
<!--{{parentData}}-->

<!--<button (click)="fireEvent()">Child to parent</button>-->
