<p>own-questions works!</p>
<table class="table table-striped" >
  <thead>

  </thead>
<tbody *ngFor="let question of ownQuestions; index as i"> 

  <tr>
    <td>{{i+1}}</td>
    <td>{{question.title}}</td>
    <td><button (click)="questionDescription(question.id)" type="button" class="btn btn-primary">Description</button></td>
    <td>{{question.category.type}}</td>
    <td><button (click)="updateQuestion(question.id, question.title, question.category.id, question.description)" type="button" class="btn btn-primary">Update</button></td>
    <td><button (click)="deleteQuestion(question.id)" type="button" class="btn btn-primary">Delete</button></td>
  </tr>
  <tr  *ngIf="(question.id == selectedQuestionDescriptionId)">
    <td colspan="5">{{question.description}}</td>
    <td><button (click)="answer(question.id)" type="button" class="btn btn-primary">Answer</button></td>
  </tr>

  <div *ngIf="(question.id == selectedQuestionAnswerId)" >
    <tr *ngFor="let answer of answers">
     <td>{{answer.id}}</td>
     <td>{{answer.description}}</td>
    </tr>
   </div>
  
  <tr *ngIf="(question.id == selectedQuestionUpdateId)">
    <td colspan="5">
      <form [formGroup]="updateQuestionForm">
        Title : <input type="text" formControlName="title" >
        Category :
        <select formControlName="categoryId">
          <option *ngFor="let category of categories" >
            {{category.type}}
          </option>
        </select>
        Description : <input type="text" formControlName="description">&nbsp; &nbsp;
        <input type="submit" class="btn btn-success " name="Submit" (click)="onUpdateSubmit(question.id)">
      </form>
    </td>
  </tr>
  
</tbody>
</table>

