<!--<p>sidebar works!</p>-->
<div class="w3-sidebar  w3-bar-block bg-dark" style="width:15%">
<!--  <h3 class="w3-bar-item">Menu</h3>-->
  <a [routerLink]="['questions/all']"  class="w3-bar-item w3-button">All Questions</a>
  <a [routerLink]="['questions/own']" class="w3-bar-item w3-button">Own Questions</a>
  <a [routerLink]="['questions/add']" class="w3-bar-item w3-button">Question Add</a>
  <a *ngIf="ifUserTypeIsAdmin" [routerLink]="['category/all']" class="w3-bar-item w3-button ">All Category</a>
  <a *ngIf="ifUserTypeIsAdmin" [routerLink]="['category/add']" class="w3-bar-item w3-button">Category Add</a>
</div>
